<ion-view title="Second">
    <ion-content>
        <div class="padding">
            <h1>{{ variable }}</h1>
            <p>Showing how appSettings (value provider) looks like</p>
            <pre>{{ settings }}</pre>
        </div>
    </ion-content>
</ion-view>
