<ion-view title="Start">
    <!-- Add a header button -->
    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-earth" ui-sref="app.second">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="padding">
            <div class="row">
                <div class="col">
                    <p>Listing collection from SampleService. The header also includes an icon for accessing the second view.</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <button class="button button-block button-small button-positive" ng-click="addItem()">Add new item</button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-small button-royal" ui-sref="app.second">Go to second view</button>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item item-divider">Items in collections {{ getCollection().length }}</div>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Filter items..." ng-model="filterInput">
                </label>
            </div>
            <div ng-repeat="item in collection | filter:filterInput" class="list card">
                <div class="item">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                    <button class="button button-small button-assertive" ng-click="removeItem(item)">Remove</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
